{% extends 'admin/base.html' %}
{% block title %}分类管理-添加分类{% endblock %}
{% block content %}
    <form action="{% url 'cs_admin:add_cag' %}" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>分类名称：</td>
                <td><input type="text" name="cag_name"></td>
            </tr>
            <tr>
                <td>分类图片：</td>
                <td><input type="file" name="cag_img"></td>
            </tr>
        </table>
        <button>添加</button>
    </form>


{% endblock %}