<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
    <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/series-label.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/oldie.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
</head>
<body>
    <div class="header">
        <img class="logo" src="/static/images/logo.png" alt="logo">
        <div class="search">
            <form action="{% url 'cs_admin:search' %}">
                <input type="text" class="search_input" placeholder="搜索内容..." name="question"/>
                <button class="search_btn">搜索</button>
            </form>
        </div>
        <div id="top_right">
            {% if admin.id %}
                您好，{{ admin.username }}
                <span class="sep">|</span>
                <a href="{% url 'cs_admin:logout' %}">退出</a>
            {% else %}
                您好，访客！
                <span class="sep">|</span>
                <a href="{% url 'cs_admin:login' %}">登录</a>
            {% endif %}
        </div>
	</div>
    <div class="content" style="min-height: 65%">
        <div class="left">
            <ul>
               <li class="first">
                   <div style="border-bottom:solid 1px #3685f1;margin-top: 30px;text-align: center"><strong>商品信息</strong></div>
                   <ul>
                       <li class="second">商品列表</li>
                       <li class="second">添加商品</li>
                       <li class="second">编辑商品</li>
                       <li class="second">分类管理</li>
                   </ul>
               </li>
                <li class="first">
                    <div style="border-bottom:solid 1px #3685f1;margin-top: 30px;text-align: center">
                        <strong>客户信息</strong></div>
                    <ul>
                        <li class="second">客户列表</li>
                        <li class="second">购买记录</li>
                    </ul>
                </li>
                <li class="first">
                    <div style="border-bottom:solid 1px #3685f1;margin-top: 30px;text-align: center">
                        <strong>订单信息</strong></div>
                    <ul>
                        <li class="second">订单列表</li>
                        <li class="second">销售统计</li>
                    </ul>
                </li>
                <li class="first">
                    <div style="border-bottom:solid 1px #3685f1;margin-top: 30px;text-align: center"><strong>管理员信息</strong></div>
                    <ul>
                        <li class="second">管理员列表</li>
                        <li class="second">添加管理员</li>
                        <li class="second">账户安全</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="right">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        <div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2019 南京校园超市技术有限公司 All Rights Reserved</p>
		<p>电话：025-****888    宁ICP备*******8号</p>
    </div>
    <script>
        var items = document.getElementsByClassName("second");
        var logo = document.getElementsByClassName("logo")[0];
        var urls = new Array("{% url 'cs_admin:list_goods' %}", "{% url 'cs_admin:add_goods' %}",
            "{% url 'cs_admin:edit_goods2' %}", "{% url 'cs_admin:list_cag' %}",
            "{% url 'cs_admin:list_user' %}", "{% url 'cs_admin:buy_history' %}",
            "{% url 'cs_admin:list_order' %}?page_num=1", "{% url 'cs_admin:sale_statistic' %}",
            "{% url 'cs_admin:list_admin' %}", "{% url 'cs_admin:add_admin' %}",
            "{% url 'cs_admin:edit_admin' %}"),
            right = document.getElementsByClassName("right")[0];
        var xhr = null;
        for (let i = 0;i<items.length;i++){
            items[i].onclick = function () {
                location = urls[i];
            };
        }
        logo.onclick = function () {
            location = urls[0];
        }
    </script>
</body>
</html>