{% extends 'admin/base.html' %}
{% block title %}
编辑商品
{% endblock %}
{% block content %}
    <style>
        .textbox{border: solid 1px #d9edf7;height: 30px;line-height: 30px;margin: 6px}
        .inner_table td{height: 40px;line-height:40px;}
        .btn{height: 35px;line-height: 35px;width: 120px;font:18px bold 微软雅黑;margin: 10px 140px}
        .in input,select{width: 250px;margin: 6px 0}
    </style>
    <h1 style="margin-left: 10px">编辑商品</h1>
     <form action="{% url 'cs_admin:add_goods' %}" method="post" enctype="multipart/form-data">
         <div class="in" style="text-align: right;width: 400px;">
             <label for="goods_name">商品名称：</label>
             <input type="text" name="goods_name" id="goods_name" class="textbox" value="{{ goods.goods_name }}" /><br>
             <label for="goods_num">货号：</label>
             <input type="text" name="goods_num" id="goods_num" class="textbox" value="{{ goods.goods_num }}" /><br>
             <label for="goods_manufacturer">生产厂家：</label>
             <input type="text" name="goods_manufacturer" id="goods_manufacturer" class="textbox" value="{{ goods.goods_manufacturer }}" /><br>
             <label for="goods_price">价格：</label>
             <input type="text" name="goods_price" id="goods_price" class="textbox" value="{{ goods.goods_price }}" /><br>
             <label for="goods_unit">单位：</label>
             <input type="text" name="goods_unit" id="goods_unit" class="textbox" value="{{ goods.goods_unit }}" /><br>
             <label for="goods_repertory">库存：</label>
             <input type="text" name="goods_repertory" id="goods_repertory" class="textbox" value="{{ goods.goods_repertory }}" /><br>
             <label for="kind">分类：</label>
             <select name="kind" id="kind" class="textbox" >
                         {% for item in cags %}
                            <option>{{ item.cag_name }}</option>
                         {% endfor %}
             </select><br>
             <label for="g_img">上传图片：</label>
             <input type="file" name="g_img" id="g_img"/><br>
         </div>
        <button class="btn">确定</button>
     </form>
{% endblock %}