<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑商品</title>
</head>
<body>
 <div >
       <h2 class="fl">编辑商品</h2>
 <form action="" method="post" >
     {% csrf_token %}
     <table>
         <tr>
             <td>商品名称：</td>
             <td><input type="text" name="goods_name" class="textbox textbox_295" value="{{ goods.goods_name }}" /></td>
         </tr>
         <tr>
             <td>货号：</td>
             <td><input type="text" name="goods_num" class="textbox" value="{{ goods.goods_num }}" /></td>
         </tr>
          <tr>
             <td>生产厂家：</td>
             <td> <input type="text" name="goods_manufacturer" class="textbox" value="{{ goods.goods_manufacturer }}" /></td>
         </tr>
         <tr>
             <td>价格：</td>
             <td><input type="text" name="goods_price" class="textbox" value="{{ goods.goods_price }}"/></td>
         </tr>
         <tr>
             <td>单位：</td>
             <td><input type="text" name="goods_unit" class="textbox" value="{{ goods.goods_unit }}" /></td>
         </tr>
         <tr>
             <td>库存：</td>
             <td><input type="text" name="goods_repertory" class="textbox" value="{{ goods.goods_repertory }}"/></td>
         </tr>
         <tr>
             <td>商品分类：</td>
             <td>
                 <select name="kind" class="select">
                    <option>零食</option>
                    <option>水果</option>
                    <option>日用品</option>
                    <option>文具</option>
                </select>
             </td>
         </tr>
         <tr>
             <td>上传商品图片：</td>
             <td><input name="g_img" type="file"/></td>
         </tr>
         <tr>
             <td></td>
             <td><input type="submit" class="link_btn" value="确定修改"/></td>
         </tr>
     </table>
 </form>
 </div>
</body>
</html>