{% extends 'admin/base.html' %}
{% block title %}
    商品列表
{% endblock %}
{% block content %}
    <style>
        table{border-collapse: collapse;width: 90%;text-align: center;font: 16px bold Microsoft Yahei}
        th,td{border: 1px solid #d9edf7}
        th{height: 40px}
        .outer_table{margin: 0 auto}
    </style>
    <table class="outer_table">
        <tr>
            <td>
    <h1>商品列表</h1>
    <div style="margin: 5px 0">
    <table border="1">
        <tr>
            <th class="head">商品图片</th>
            <th class="head">商品名</th>
            <th class="head">货号</th>
            <th class="head">价格</th>
            <th class="head">单位</th>
            <th class="head">库存</th>
            <th class="head">生产商</th>
            <th class="head">分类</th>
            <th class="head">编辑</th>
            <th class="head">删除</th>
        </tr>
        {% for goods in goods_list %}
            <tr>
                <td><img src="{{ MEDIA_URL}}{{goods.goods_img}}" alt="商品图片" style="max-width: 100px;max-height: 75px"></td>
                <td>{{ goods.goods_name }}</td>
                <td>{{ goods.goods_num }}</td>
                <td>{{ goods.goods_price }}</td>
                <td>{{ goods.goods_unit }}</td>
                <td>{{ goods.goods_repertory }}</td>
                <td>{{ goods.goods_manufacturer }}</td>
                <td>{{ goods.cag.cag_name }}</td>
                <td><a href="{% url 'cs_admin:edit_goods' %}?id={{ goods.id }}">编辑</a></td>
                <td><a href="{% url 'cs_admin:delete_goods' %}?id={{ goods.id }}">删除</a></td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <div style="text-align: center;margin: 5px">
        {% for i in goods_list.paginator.page_range %}
            {% if i == goods_list.number %}
                <a href="{% url 'cs_admin:list_goods' %}?new_page={{ i }}" style="font-size: 30px;padding: 0 10px">{{ i}}</a>
            {% else %}
                <a href="{% url 'cs_admin:list_goods' %}?new_page={{ i }}" style="font-size: 20px;padding: 0 10px">{{ i }}</a>
            {% endif %}
        {% endfor %}
    </div>

            </td>
        </tr>
    </table>
{% endblock %}
