{% extends 'admin/base.html' %}
{% block title %}添加商品{% endblock %}
{% block content %}
    <style>
        .textbox{border: solid 1px #d9edf7;height: 30px;line-height: 30px;margin: 6px}
        .inner_table td{height: 40px;line-height:40px;}

        .add_goods_btn {
            height: 30px;
            line-height: 30px;
            width: 100px;
            font: 18px bold 微软雅黑;
            margin: 20px auto 30px 145px
        }
        .in input,select{width: 250px;margin: 6px 0}

    </style>
    <div style="width: 500px;margin-left: 50px">
    <h1 style="margin-left: 10px">添加商品</h1>
        <form action="{% url 'cs_admin:add_goods' %}" id="add_goods_form" method="post" enctype="multipart/form-data">
         <div class="in" style="text-align: right;width: 400px;">
             <label for="goods_name">商品名称：</label>
             <input type="text" name="goods_name" id="goods_name" class="textbox" placeholder="商品名称..." /><br>
             <label for="goods_num">货号：</label>
             <input type="text" name="goods_num" id="goods_num" class="textbox" placeholder="货号..." /><br>
             <label for="goods_manufacturer">生产厂家：</label>
             <input type="text" name="goods_manufacturer" id="goods_manufacturer" class="textbox" placeholder="生产厂家..." /><br>
             <label for="goods_price">价格：</label>
             <input type="text" name="goods_price" id="goods_price" class="textbox" placeholder="价格..." /><br>
             <label for="goods_unit">单位：</label>
             <input type="text" name="goods_unit" id="goods_unit" class="textbox" placeholder="单位..." /><br>
             <label for="goods_repertory">库存：</label>
             <input type="text" name="goods_repertory" id="goods_repertory" class="textbox" placeholder="库存..." /><br>
             <label for="kind">分类：</label>
             <select name="kind" id="kind" class="textbox">
                         {% for item in cags %}
                            <option>{{ item.cag_name }}</option>
                         {% endfor %}
             </select><br>
             <label for="g_img">上传图片：</label>
             <input type="file" name="g_img" id="g_img"/><br>
         </div>
            <button type="button" class="add_goods_btn">确定</button>
     </form>
    </div>
    <script>
        var add_goods_btn = document.getElementsByClassName("add_goods_btn")[0],
            textboxes = document.getElementsByClassName("textbox"),
            add_goods_form = document.getElementById("add_goods_form");
        add_goods_btn.onclick = function () {
            let flag = true;
            for (let i = 0; i < textboxes.length; i++) {
                if (textboxes[i].value == "") {
                    flag = false;
                    alert("请填写完整信息！")
                    break;
                }
            }
            if (flag) {
                add_goods_form.submit();
            }
        }
    </script>
{% endblock %}