{% extends 'base.html' %}
{% block content %}
    <style>
        table{border-collapse: collapse;margin: 0 auto;}
        th{height: 40px;line-height: 40px;text-align: center}
        td{height: 40px;line-height: 40px;width: 120px;text-align: center}
        h1{font-size: 16px;margin-left: 190px}
    </style>
    <div style="margin: 0 auto">
        <h1>查询到{{ num }}条结果：</h1>
        <table border="1">
        <tr>
            <th>商品名</th>
            <th>价格</th>
            <th>单位</th>
            <th>库存</th>
            <th>生产商</th>
            <th>分类</th>
            <th>操作</th>
        </tr>
        {% for goods in goods_list %}
            <tr>
                <td>{{ goods.goods_name }}</td>
                <td>{{ goods.goods_price }}</td>
                <td>{{ goods.goods_unit }}</td>
                <td>{{ goods.goods_repertory }}</td>
                <td>{{ goods.goods_manufacturer }}</td>
                <td>{{ goods.cag.cag_name }}</td>
                <td><a href="{% url 'goods:goods_detail' %}?gid={{ goods.id }}">加入购物车</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}