{% extends 'user/base.html' %}
{% block title %}我的购物车{% endblock %}
{% block content %}
    <style>
        table{border-collapse: collapse;margin: 0 auto;}
        th,td{height: 40px;line-height: 40px;width: 120px;text-align: center;}
        th{border-bottom: solid 1px #c9c9c9;}
        h1{font-size: 16px;margin-left: 140px}
        #end{width: 120px;height: 60px;line-height:60px;iborder:0px;background-color: #ff3d3d;font:30px bold 微软雅黑;float: right;
            color: #e9f0d8;text-align: center;padding: auto;}
        #total_pay, #total_num{font: 40px bold 微软雅黑;float: right;color: #ff1d2b;line-height: 61px;}
        .bottom{background-color: #fff4e8;height: 61px;line-height: 61px;margin: 10px auto;width: 1000px}
        .bottom_right{float: right;padding: 0px 7px;bottom: 10px;}
    </style>
    {% if num != 0 %}
        <div style="margin: 30px auto;min-height: 240px">
            <table>
            <thead>
            <tr>
                <th></th>
                <th>商品图片</th>
                <th>商品名称</th>
                <th>商品价格</th>
                <th>单位</th>
                <th>数量</th>
                <th>小计</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for goods in goods_list %}
                <tr>
                    <td><input type="checkbox" class="check_item"  onclick="check(this)"/></td>
                    <td><img src="{{ MEDIA_URL}}{{goods.goods_img}}" alt="商品图片" style="max-width: 100px;max-height: 100px" /></td>
                    <td>{{ goods.goods_name }}</td>
                    <td>{{ goods.goods_price }}</td>
                    <td>{{ goods.goods_unit }}</td>
                    <td><button type="button" onclick="sub(this)">-</button><span>{{ goods.num }}</span><button type="button" onclick="add(this)">+</button></td>
                    <td class="money"></td>
                    <td><a href="{% url 'order:delete_cart' %}/?id={{ goods.item_id }}">删除</a></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
            <div class="bottom">
                <span style="float: left;padding-left: 20px"><input type="checkbox" id="all_box" onclick="checkAllBox(this)"/>全选</span>
                <button  id="end"  onclick="save()">去结算</button>
                <span class="bottom_right">合计：¥<label id="total_pay" style="padding-right: 20px;padding-left: 5px"></label></span>
                <span class="bottom_right">件商品</span><label id="total_num"></label><span class="bottom_right">共</span>
            </div>
    {% else %}
        <div style="height:300px;width:100%;margin: 0 auto;text-align: center;line-height: 300px;">
            您的购物车是空的！
        </div>
    {% endif %}
    <form action="{% url "order:add_order" %}" id="form0" method="post" style="display: none">
        <input type="text" name="text" style="display: none" >
        <input type="text" name="status" value="0">
    </form>
    <script>
        var n = 0;
        var checkboxs = document.getElementsByClassName("check_item"),
            total_num = document.getElementById("total_num"),
            form0 = document.getElementById("form0"),
            money = document.getElementsByClassName("money"),
            all = document.getElementById("all_box"),
            total_pay = document.getElementById("total_pay");
        var url = "{% url "order:add_order" %}?num=";
        var goodsArray = new Array();
        {% for goods in goods_list %}
            goodsArray[n] = {"id": {{ goods.id }}, "price":{{ goods.goods_price }}, "num": {{ goods.num }}, "checked": true};
            n++;
        {% endfor %}
        window.onload=function () {
            all.checked=true;
            let sum = 0;
            for(let i = 0;i<n;i++){
                sum += parseInt(goodsArray[i].num)
                money[i].innerHTML = String(parseFloat(goodsArray[i].price) * parseInt(goodsArray[i].num));
                checkboxs[i].checked=true;
                checkboxs[i].id= String(i);
            }
            get_total_pay();
            total_num.innerHTML = String(sum);

        }
        function sub(that) {
            var text = that.nextElementSibling;
            num = parseInt(text.innerHTML);
            if(num>1){
                text.innerHTML = String(num-1);
                goodsArray[parseInt(that.parentElement.parentElement.firstElementChild.firstElementChild.id)].num = num-1;
                total_num.innerHTML = String(parseInt(total_num.innerHTML)-1)
            }
            sum(that);
            get_total_pay();
        }
        function add(that) {
            var text = that.previousElementSibling;
            num = parseInt(text.innerHTML);
            text.innerHTML = num+1;
            goodsArray[parseInt(that.parentElement.parentElement.firstElementChild.firstElementChild.id)].num = num+1;
            total_num.innerHTML = String(parseInt(total_num.innerHTML)+1)
            sum(that);
            get_total_pay();
        }
        function sum(that) {
            let money = that.parentElement.nextElementSibling,
                price = that.parentElement.previousElementSibling.previousElementSibling.innerHTML,
                num = that.parentElement.children[1];
            price = parseFloat(price);
            num = parseInt(num.innerHTML);
            money.innerHTML = String(parseFloat(String(num * price)));
        }
        function checkAllBox(that) {
            if(that.checked){
                for(let i = 0;i<n;i++){
                    checkboxs[i].checked = true;
                    goodsArray[i].checked = true;
                }
                let sum = 0;
                for(let i = 0;i<n;i++){
                    if(checkboxs[i].checked){
                        sum += parseInt(goodsArray[i].num)
                    }
                }
                total_num.innerHTML = String(sum);
            }
            else{
                for(let i = 0;i<n;i++){
                    checkboxs[i].checked = false;
                    goodsArray[i].checked = false;
                }
                total_num.innerHTML = String(0);
            }
            get_total_pay();
        }
        function check(that) {
            let num = that.parentElement.parentElement.children[5].children[1].innerHTML;
            if(that.checked)
                total_num.innerHTML = String(parseInt(total_num.innerHTML) + parseInt(num));
            else {
                total_num.innerHTML = String(parseInt(total_num.innerHTML) - parseInt(num));
            }

            goodsArray[parseInt(that.id)].checked = that.checked;
            get_total_pay();
            for (let i = 0;i<n;i++){
                if(!checkboxs[i].checked){
                    all.checked=false;
                    return;
                }
            }
            all.checked=true;
        }
        function get_total_pay() {
            let sum = 0;
            for(let i = 0;i<n;i++){
                if(checkboxs[i].checked){
                    sum += parseFloat(money[i].innerHTML);
                }
            }
            total_pay.innerHTML = String(sum);
        }
        function save() {
            let count = 0, t = 0;
            for(let i = 0;i<n;i++){
                if(checkboxs[i].checked){
                    count++;
                    let str = JSON.stringify(goodsArray[i]);
                    localStorage.setItem("goods"+t, str);
                    t++;
                }
            }
            if(count>0) {
                let goods = [];
                for (let i = 0; i < n; i++) {
                    if (checkboxs[i].checked) {
                        goods.push(goodsArray[i]);
                    }
                }
                form0.firstElementChild.value = JSON.stringify(goods);
                form0.submit();
            }
            else{
                alert("您没有选择任何商品！")
            }
        }
    </script>
{% endblock %}