{% extends 'user/base.html' %}
{% block title %}个人中心{% endblock %}
{% block content %}
    <style>
        .left_bar{
            width: 20%;
            min-height: 350px;
            float: left;
        }
        .right_content{
            width: 79%;
            min-height: 330px;
            float: left;
            border: solid 1px #dedede;
            margin: 0;
            margin-bottom: 30px;
        }
    .left_bar h2{text-align: center;border-bottom: solid 1px #3685f1;width: 200px;margin: 30px auto 5px}
    .left_bar ul{padding-left: 0;width: 200px;margin: 0 auto;text-align: center;}
    .left_bar ul li{margin: 10px;font: 20px bold 微软雅黑;height: 40px;line-height: 40px;}
    .left_bar ul li:hover{background-color: #428bca;color: white;cursor: pointer;}
    </style>
    <div class="left_bar">
        <h2>个人中心</h2>
        <ul>
            <a href="{% url 'user:basic_info' %}"><li id="basic_info">基本信息</li></a>
            <a href="{% url 'user:account_security' %}"><li id="account_security">账户与安全</li></a>
            <a href="{% url 'user:address' %}"><li id="address">地址管理</li></a>
        </ul>
    </div>
    <div class="right_content">
        {% block user_center %}
        {% endblock %}
    </div>
    <script>
        var basic_info = document.getElementById("basic_info"),
            account_security = document.getElementById("account_security"),
            address = document.getElementById("address"),
            right_content = document.getElementsByClassName("right_content")[0];
        var s1 = "    <table>\n" +
            "        <tr>\n" +
            "            <td>头像：</td>\n" +
            "            <td></td>\n" +
            "        </tr>\n" +
            "        <tr>\n" +
            "            <td>用户名：</td>\n" +
            "            <td>{{ user.username }}</td>\n" +
            "        </tr>\n" +
            "        <tr>\n" +
            "            <td>昵称：</td>\n" +
            "            <td></td>\n" +
            "        </tr>\n" +
            "        <tr>\n" +
            "            <td>性别：</td>\n" +
            "            <td></td>\n" +
            "        </tr>\n" +
            "        <tr>\n" +
            "            <td>出生日期：</td>\n" +
            "            <td></td>\n" +
            "        </tr>\n" +
            "    </table>";
            basic_info.onclick = function () {
                right_content.innerHTML = s1;
            }
    </script>
{% endblock %}